<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <h2>
                Forgot Password
            </h2>
            <%- include ("./messages") %>
            <form action="/auth/forgot" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Send me a password reset link</button>
            </form>
            <p class="mt-4">
                Remember your password? <a href="/auth/login">Login</a>
            </p>
        </div>
    </div>
</div>